@media only screen and(min-width:992px) {
    .conteneur-fonctionnement {
        display: flex;
        justify-content: space-between;
        width: 98%;
    }

}

@media only screen and(min-width:992px) {
    .liens-restaurants {

        width: 22%;
    }

}
