@media only screen and(min-width:992px) {
    .conteneur-fonctionnement {
        display: flex;
        justify-content: space-between;
        width: 98%;
    }

}

@media only screen and(min-width:992px) {
    .liens-restaurants {

        width: 22%;
    }

}


@media screen and (min-width:768px) and (max-width: 992px) {
    .conteneur-fonctionnement {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


}


@media screen and (min-width:768px) and (max-width: 992px) {
    texte-restaurant {
        text-align: center;
    }
}

@media only screen and(min-width:992px) {
    .conteneur {
  
      display: flex;
      justify-content: space-between;
    }
  
  }
  