.fonctionnement {

  padding: 1rem 1rem 4rem 1rem;
  margin-left: 1rem;

  &__cartes {
    @include site-bordure;
    @include flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 1.7rem;
    background-color: $pageCouleur;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    &:hover {
      background-color: adjust-color($color: $couleurPrimaire, $lightness: 35%);
      cursor: pointer;
      .icone {
        color: $couleurPrimaire;
      }
    }



    @media only screen and(min-width:992px) {
      width: 22%;
    }

    @media screen and (min-width:768px) and (max-width: 992px) {
      width: 28%;
    }




    &__numero {
      @include site-bordure;
      background-color: $couleurPrimaire;
      border-radius: 50%;
      padding: 0.3rem 0.4rem 0.3rem 0.5rem;
      align-items: center;
      width: 4%;
      color: white;
      position: absolute;
      margin-left: -1.3rem;
      text-align: center;

      @media screen and (min-width:768px) and (max-width: 992px) {
        padding: 0.1rem 0.5rem 0.2rem 0.6rem;
        text-align: none;
      }


    }

    .icone {
      font-size: 1.125rem;
      color: darken($pageCouleur, 50%);
      margin-left: 1.5rem;

    }


    &__etapes {
      margin-left: 5rem;
      position: absolute;
      font-size: 1rem;
      font-weight: bold;
    }


    i {
      color: grey;
    }
  }


}