.chargement {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ae80e5, #fface8);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  animation: cacher 0ms 2.846s both;
}

.chargement::before {
  content: url("images/logo/ohmyfood@2x.svg");
  position: inherit;
  top: 49%;
  animation: apparaitre 2.5s;
}

.chargement::after {
  content: "";
  margin: auto;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 1rem solid #e6e6e6;
  border-right-color: #99E2D0;
  animation: tourner 2.5s 346ms;
}