.chargement {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fermeture 3s;



}

.loader-spinner {
  border: solid #9EC 0.3rem;
  border-radius: 50%;
  padding: 5rem;
  border-image-slice: 44;
  border-image-source: -moz-linear-gradient(180deg, rgba(153, 226, 208, 1) 0%, rgba(255, 255, 255, 1) 56%, rgba(153, 226, 208, 1) 98%);
  animation: loader 5s infinite;


  @media only screen and(min-width:992px) {
    font-size: 4rem;

  }

}