footer{
  background-color: #353535;
  color: white;
  padding: 1rem 2rem 2rem 2rem;
 line-height: 1.6rem;


 
a{
  color:white;

}

 ul{

  padding-left: 0;

  
 }

h2{
  
  font-family: 'Shrikhand', cursive;
  font-size: 1.3rem;
  font-weight: normal;
}



}


.espaces{
  margin-left: 0.60rem;
}

