nav {
    height: 4rem;
    @include site-bordure;


}

.pages_nav {
    @include flex;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    @media only screen and(min-width:992px) {
        width: 15%;
    }


    @media screen and (min-width:768px) and (max-width: 992px) {
        width: 23%;
    }


    img {
        height: 2rem;
        margin-top: 1rem;
    }
}


.pages_nav {
    align-items: center;


}

.fleche {
    margin-left: 1rem;

    @media only screen and(min-width:992px) {
        margin-left: 2rem;


    }

}

@media only screen and(min-width:992px) {
    .logo-pages {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}