nav{
height: 4rem;
@include site-bordure;


}

.pages_nav{
    @include flex;
    
    }
    


.logo{
display: block;
margin-left:auto;
margin-right:auto ;
width: 50%;







img{
height: 2rem;
margin-top: 1rem;
}



}


.pages_nav{
align-items: center;


}

.fleche{
margin-left: 1rem;

}


