.menus {
  @include site-bordure;
  background-color: $pageCouleur;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
  padding: 0.9rem 0.9rem 9rem 0.9rem;
  position: relative;
  z-index: 0;
  margin-top: 5rem;
  overflow: hidden;

  &__entete {
    @include flex;
    justify-content: space-between;

    h1 {
      font-family: 'Shrikhand', cursive;
      font-weight: normal;
    }

    i {
      font-size: 1.7rem;
      padding: 2rem;



    }


  }

}

.menu-titre {
  border-bottom: solid 0.188rem;
  border-color: #99E2D0;
  width: 12%;
  padding-bottom: 0.188rem;

  @media only screen and(min-width:992px) {
    width: 3%;

  }



}


.menu__actuel {
  @include site-bordure;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;


  &__description {
    padding-left: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;

    @media only screen and(min-width:992px) {
      width: 75%;

    }






    p:first-child {
      font-weight: bolder;
    }



  }



  &__prix {
    align-items: flex-end;
    display: flex;
    padding: 1rem;


  }

  &__check {

    background-color: #99E2D0;
    padding: 1.79rem 2.6rem 0.2rem 1.5rem;
    width: 5%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: -26%;
    overflow: hidden;
    text-align: center;

    @media only screen and(min-width:992px) {
      padding: 2rem 1.79rem 1rem 1.79rem;
      width: 2%;
    }







  }



  i {

    color: #99E2D0;
    background-color: white;
    border-radius: 50%;
    padding: 0.4rem 0.4rem 0.3rem 0.4rem;
    position: absolute;
    font-size: 1rem;



  }



}