.menus {
  @include site-bordure;
  background-color: $pageCouleur;
  border-top-left-radius: 3.3rem;
  border-top-right-radius: 3.3rem;
  padding: 0.9rem 0.9rem 9rem 0.9rem;
  position: relative;
  z-index: 0;
  margin-top: 5rem;
  overflow: hidden;

  &__entete {
    @include flex;
    justify-content: space-between;

    h1 {
      font-family: 'Shrikhand', cursive;
      font-weight: normal;
    }

    i {
      font-size: 1.7rem;
      padding: 2rem;

    }

  }

  .menu-titre {
    border-bottom: solid 0.188rem;
    border-color: #99E2D0;
    width: 12%;
    padding-bottom: 0.188rem;


  }

  .menu__actuel {
    @include site-bordure;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;


    &__description {
      padding-left: 0.5rem;
      width: 80%;





      p:first-child {
        font-weight: bolder;
      }



    }

  }
}