@keyframes apparaitre {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes cacher {
  from {
      transform: translate(0);
  }
  to {
      transform: translate(-9999px);
  }
}

@keyframes tourner {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(2turn);
  }
}
