@keyframes loader {
  0% {
    transform: rotate(0turn);

  }

  100% {
    transform: rotate(1turn);
  }
}



@keyframes fermeture {
  0% {
    opacity: 1;
    height: 100%;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
    
 